<!doctype html>
<html>
<head>
<title>Course List</title> </head>
<body>
<h1>Add A Course</h1> 
<p>
	<form method="post" action="/addcourse"> 
			<table>
			<tr> 
			<td>
				<label for="title">Title:</label> </td>
			<td>
				<input type="text" name="title"> </td>
			<td>
				<label for="instructor">Instructor:</label> </td>
			<td>
				<input type="text" name="instructor"> </td>
			<td>
				<label for="semester">Semester:</label> </td>
			<td>
				<input type="text" name="semester"> </td>
			</tr>
		</table>
		<input type="submit" value="Add Course">
	</form>
	<a href="/">Return Home</a>
</p>
</body>
</html>