<!doctype html>
<html>
<head>
<title>Course List</title> </head>
<body>
<h2>Courses</h2>
<ul>
{{#each courses}}
	<li>
		{{title}}
		<form method="get" action="/course">
  			<input type="hidden" name="id" value={{_id}}>
  			<input type="submit" value="Show Details">
		</form>
	</li>
{{/each}}
</ul>
<a href="/addcourse">Add a course</a>
</body>
</html>